<div class="container text-center">
    <div class="row">
      <div class="col-8">
        <div class="d-flex mb-3">
            <div class="dropdown p-2" data-bs-theme="light">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButtonLight" data-bs-toggle="dropdown" aria-expanded="false">
                  Dự Án
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButtonLight">
                  <li><a class="dropdown-item active" href="#">Action</a></li>
                  <li><a class="dropdown-item" href="#">Action</a></li>
                  <li><a class="dropdown-item" href="#">Another action</a></li>
                  <li><a class="dropdown-item" href="#">Something else here</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="#">Separated link</a></li>
                </ul>
              </div>
              
              <div class="dropdown ms-auto p-2 " data-bs-theme="dark">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButtonDark" data-bs-toggle="dropdown" aria-expanded="false">
                  2024
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButtonDark">
                  <li><a class="dropdown-item active" href="#">Action</a></li>
                  <li><a class="dropdown-item" href="#">Action</a></li>
                  <li><a class="dropdown-item" href="#">Another action</a></li>
                  <li><a class="dropdown-item" href="#">Something else here</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="#">Separated link</a></li>
                </ul>
              </div>
          </div>

          <div class="alert alert-primary" role="alert">
        TỔNG THỂ VỀ DỰ ÁN
          </div>
        <ul class="money_project">
            <li><p>Chi phí dự án</p><p>$155555112</p></li>
        </ul>
        <ul class="money_project">
            <li><p>Hiện tại đã chi</p><p>$155555112</p></li>
        </ul>
        <ul class="money_project">
            <li><p>Còn lại</p><p>$155555112</p></li>
        </ul>

        <div class="alert alert-primary" role="alert">
            THÀNH VIÊN CỦA NHÓM
              </div>
   
      <table class="table table_nv">
        <thead>
          <tr>
            <th scope="col">Khu vực</th>
            <th scope="col">Số lượng nhân viên</th>
            <th scope="col">Nhân viên tạm nghĩ</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">Miền Bắc</th>
            <td>10</td>
            <td>20</td>
         
          </tr>
          <tr>
            <th scope="row">Miền Trung</th>
            <td>20</td>
            <td>5</td>
          
          </tr>
          <tr>
            <th scope="row">Miền Nam</th>
            <td>15</td>
            <td>5</td>
         
          </tr>
        </tbody>
      </table>
      
    </div>
      <div class="col-4">
        <div class="alert alert-primary" role="alert">
    TRƯỞNG NHÓM
              </div>
              <img src="/assets/images/avatar.jpg" class="rounded-circle" alt="...">
              <p class="text-center name">Cao Văn Quyết</p>
              <p class="text-center team">Tóm tắt về team</p>
              <ul class="list-group">
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    Số lượng thành viên 
                  <span class="badge text-bg-primary rounded-pill">14</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    Tổng chi phí của tất cả các dự án
                  <span class="badge text-bg-primary rounded-pill">2</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    Các task đang xử lý
                  <span class="badge text-bg-primary rounded-pill">1</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    Dự án sắp triển khai 
                  <span class="badge text-bg-primary rounded-pill">1</span>
                </li>
              </ul>
              <div class="alert alert-primary" role="alert">
             KHÁCH HÀNG
                          </div>
                          <ul class="list-group">
                            <li class="list-group-item">FPT TELECOM</li>
                            <li class="list-group-item">FPT SOFTWARE</li>
                            <li class="list-group-item">MY CV</li>
                          </ul>
        </div>
    </div>
  </div>
