<header>
  <div class="logo">
    <img src="../assets/images/logo-removebg-preview.png" alt="" srcset="">
  </div>
  <div class="search">
    <fa-icon [icon]="faMagnifyingGlass"></fa-icon>
    <input type="text" placeholder="Nhập thông tin cần tìm...">
  </div>
  <div class="infouser" *ngIf="!showdkdn">
    <div class="avatar">
      <img src="/assets/images/avatar.jpg" alt="">
    </div>
    <div class="nameuser">
     {{tokenPayload.name}}
    </div>
    <fa-icon [icon]="faCaretDown"></fa-icon>
  </div>
<div class="box">
  <div class="muangay" routerLink="/login" *ngIf="showdkdn"><fa-icon [icon]="faRocket"></fa-icon>Login</div>
  <div class="moi" routerLink="/register"  *ngIf="showdkdn">Đăng Ký</div>
</div>
</header>
<article>
  <app-sidebar></app-sidebar>
  <router-outlet></router-outlet>
</article>

