<section class="left">
    <div class="menu">
      <ul>
        <li><fa-icon [icon]="faBorderAll"></fa-icon><a routerLink="/home">Home</a></li>
        <li><fa-icon [icon]="faDatabase"></fa-icon><a routerLink="/quanlychung">Tổng Quan</a> </li>
        <li><fa-icon [icon]="faList"></fa-icon><a routerLink="/listduan">List Dự Án</a> </li>
        <li><fa-icon [icon]="faList"></fa-icon><a routerLink="/listtask">List Task</a> </li>
        <li><fa-icon [icon]="faUser"></fa-icon><a routerLink="/listnv">List Nhân Viên</a></li>
        <li><fa-icon [icon]="faUser"></fa-icon><a routerLink="/tkcanhan">Trang Cá Nhân</a></li>
        <li><fa-icon [icon]="faFileLines"></fa-icon><a>Bills</a></li>
        <li><fa-icon [icon]="faGear"></fa-icon><a>Settings</a></li>
      </ul>
    </div>
  </section>