<div class="row">
<div class="col-8">
  <div class="alert alert-primary" role="alert">
TỔNG THỂ VỀ DỰ ÁN
 </div>
<ul class="money_project">
   <li><p>Chi phí dự án</p><p>{{chiphi | currency:'VND':'symbol':'1.0-2'}}</p></li>
</ul>
<ul class="money_project">
   <li><p>Hiện tại đã chi</p><p>0</p></li>
</ul>
<ul class="money_project">
   <li><p>Còn lại</p><p>{{chiphi | currency:'VND':'symbol':'1.0-2'}}</p></li>
</ul>

<div class="alert alert-primary" role="alert">
   THÀNH VIÊN CỦA NHÓM
     </div>

<table class="table table_nv">
<thead>
 <tr>
   <th scope="col">Khu vực</th>
   <th scope="col">Số lượng nhân viên</th>
   <th scope="col">Nhân viên tạm nghĩ</th>
 </tr>
</thead>
<tbody>
 <tr>
   <th scope="row">Miền Bắc</th>
   <td>{{bac}}</td>
   <td>{{nghibac}}</td>

 </tr>
 <tr>
   <th scope="row">Miền Trung</th>
   <td>{{trung}}</td>
   <td>{{nghitrung}}</td>
 
 </tr>
 <tr>
   <th scope="row">Miền Nam</th>
   <td>{{nam}}</td>
   <td>{{nghinam}}</td>

 </tr>
</tbody>
</table>

</div>
<div class="col-4">
<div class="alert alert-primary" role="alert">
TRƯỞNG NHÓM
     </div>
     <img src="/assets/images/avatar.jpg" class="rounded-circle" alt="...">
     <p class="text-center name"></p>
     <p class="text-center team">Tóm tắt về team</p>
     <ul class="list-group">
       <li class="list-group-item d-flex justify-content-between align-items-center">
           Số lượng thành viên 
         <span class="badge text-bg-primary rounded-pill">{{so_thanh_vien}}</span>
       </li>
       <li class="list-group-item d-flex justify-content-between align-items-center">
           Tổng chi phí của dự án
         <span class="badge text-bg-primary rounded-pill">{{chiphi | currency:'VND':'symbol':'1.0-2'}}</span>
       </li>
       <li class="list-group-item d-flex justify-content-between align-items-center">
           Các task đang xử lý
         <span class="badge text-bg-primary rounded-pill">1</span>
       </li>
       <li class="list-group-item d-flex justify-content-between align-items-center">
           Dự án sắp triển khai 
         <span class="badge text-bg-primary rounded-pill">0</span>
       </li>
     </ul>
     <div class="alert alert-primary" role="alert">
    KHÁCH HÀNG
                 </div>
                 <ul class="list-group">
                   <li class="list-group-item">FPT TELECOM</li>
                   <li class="list-group-item">FPT SOFTWARE</li>
                   <li class="list-group-item">MY CV</li>
                 </ul>
</div> 
</div>