<section class="right col-3">
  <div class="live">
    <div class="live-red">Live</div>
    <div class="user-on">
      <img src="/assets/images/avatar.jpg" alt="">
    </div>

  </div>
  <div class="nhipsongcty">
    <p>NHỊP SỐNG CÔNG TY</p>
    <div>100% | 100%</div>
  </div>
  <div class="tacvu">
    <div class="alert alert-primary" role="alert">
      KHÁCH HÀNG
                   </div>
                   <ul class="list-group">
                     <li class="list-group-item">FPT TELECOM</li>
                     <li class="list-group-item">FPT SOFTWARE</li>
                     <li class="list-group-item">MY CV</li>
                   </ul>
  </div>
  <div class="cacbaiphobien">
<img src="/assets/images/hinhanhdep.jpg" alt="" srcset="">
  </div>
</section>
