<div class="row">
  <div class="col-9">
    <div class="alert alert-info" role="alert">
      SỬA TASK
    </div>
    <span class="loader"></span>
    <form (ngSubmit)="onSubmit()" #taskEdit="ngForm" >
      <div class="mb-3">
        <label for="tentask" class="form-label">Tên task</label>
        <input type="text" class="form-control" [(ngModel)]="task.ten_task" name="ten_task" id="tentask">
      </div>
      <div class="mb-3">
        <label for="id_du_an" class="form-label">Id Dự án</label>
        <select id="id_du_an"  name="id_du_an"  [(ngModel)]="task.id_du_an">
          <option value="">Chọn Dự Án </option>
          <option *ngFor="let item of duan" value="{{item.id}}" >{{item.ten_du_an}}</option>
        </select>
      </div>
      <div class="mb-3">
        <label for="nhan_vien_id" class="form-label">ID Nhân viên</label>
        <select id="nhan_vien_id"  name="nhan_vien_id"  [(ngModel)]="task.nhan_vien_id">
          <option value="">Chọn Dự Án </option>
          <option *ngFor="let itemNV of nhanvien" value="{{itemNV.id}}" >{{itemNV.name}}</option>
        </select>
        
      </div>
      <div class="mb-3">
        <label for="tinhtrang" class="form-label">Tình Trạng </label>
        <input type="text" class="form-control" [(ngModel)]="task.tinh_trang" name="tinh_trang" id="tinhtrang">
      </div>
      <div class="mb-3">
        <label for="priority" class="form-label">Priority</label>
        <input type="text" class="form-control" [(ngModel)]="task.priority" name="priority" id="priority">
      </div>
      <div class="mb-3">
        <label for="mota" class="form-label">Mô tả</label>
        <textarea name="mota" id="mota" [(ngModel)]="task.mota" ></textarea>
        
      </div>

      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>

</div>