<div class="row">
      <div class="col-9">
<div class="alert alert-info" role="alert">
   DANH SÁCH DỰ ÁN
  </div>
  <span *ngIf="loading" class="loader"></span>
  <span class="loader1" *ngIf="loading1"></span>
 <a routerLink="/createduan"   *ngIf="!loading" ><button type="button" class="btn btn-primary" >Tạo Mới </button></a> 
  <table class="table table-success table-striped" *ngIf="!loading">
    <thead>
        <tr>
          <th scope="col">ProjectID</th>
          <th scope="col">Project Name</th>
          <th scope="col">Date Start</th>
          <th scope="col">Team Size</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <div *ngIf="duan">
        <tbody  *ngFor="let item of duan | paginate: { itemsPerPage: 1, currentPage: 1 } , let i = index " >
          <tr>
            <th scope="row">{{i + 1}}</th>
            <td>{{item.ten_du_an}}</td>
            <td>{{item.ngaytao | date:"dd/MM/yyyy"}}</td>
            <td>{{item.so_thanh_vien}}</td>
            <td><button type="button" class="btn btn-danger" (click)="delete(item.id)">Delete</button>&nbsp;
              <button type="button" class="btn btn-warning" routerLink="/editduan/{{item.id}}">Edit</button></td>
          </tr>
        </tbody>
      </div>
      
  </table>
  
</div>
<div class="col-2"><app-sidebarright></app-sidebarright></div>
</div>

