<div class="row">
<section class="center col-9">
    <div class="menu-center">
      <ul>
        <li class="menu-tab active"><a>TIN NHẮN</a></li>
        <li class="menu-tab"><a>TÁC VỤ</a></li>
        <li class="menu-tab"><a>SỰ KIỆN</a></li>
        <li class="menu-tab"><a>BẦU CHỌN</a></li>
        <li class="menu-tab"><a>THÊM</a></li>
      </ul>
    </div>

    <div class="banner">
      <h4>Chào Mừng Đến Với MANAPR69.📈📉</h4>
<img src="/assets/images/banner.jpg" alt="">
    </div>
  </section>
  <section class="right col-3">
    <div class="live">
      <div class="live-red">Live</div>
      <div class="user-on">
        <img src="/assets/images/avatar.jpg" alt="">
      </div>
 
    </div>
    <div class="nhipsongcty">
      <p>NHỊP SỐNG CÔNG TY</p>
      <div>100% | 100%</div>
    </div>
    <div class="tacvu">
      <div class="alert alert-primary" role="alert">
        KHÁCH HÀNG
                     </div>
                     <ul class="list-group">
                       <li class="list-group-item">FPT TELECOM</li>
                       <li class="list-group-item">FPT SOFTWARE</li>
                       <li class="list-group-item">MY CV</li>
                     </ul>
    </div>
    <div class="cacbaiphobien">
<img src="/assets/images/hinhanhdep.jpg" alt="" srcset="">
    </div>
  </section>
</div>